/elpa/
/auto-save-list/
server/
/savefile/
eshell
session.*
chronometrist.sexp
tramp
/.cask/
recentf
network-security.data
.mc-lists.el
transient/
custom.el
.lsp-session-v1
/eln-cache/
/lsp-cache/
places